@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.app {
  background-color: #eff2f2;
}

.app__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app__createPost {
  display: flex;
  justify-content: center;
}
