@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.app {
  background-color: #fafafa;
}

.app__header {
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid #dde0e1;
  object-fit: contain;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app__header > img {
  height: 30px;
}
